This annuity calculator needs annuity table to be created with below script in postgresql database

create table annuity (Nr Integer,Payment_month text,Loan_amount€ numeric(10,2),Interest€ numeric(10,2),Principal_payment€ numeric(10,2),Monthly_payment€ numeric(10,2),Principal_remaining€ numeric(10,2));

--insert into annuity values (0,'0',0,0,0,0,0);